<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration scan="true" scanPeriod="10 seconds">
    <property name="logpath" value="logs/webapp/todo-list"></property>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.example.todolist.common.log.RequestPatternLayoutEncoder">
            <charset>utf-8</charset>
            <Pattern>%d{HH:mm:ss.SSS} %reqId [%p] %c - %m%n</Pattern>
        </encoder>
    </appender>
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<File>${user.home}/${logurl}/info.log</File>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/${logpath}/info-%d{yyyyMMdd}.log.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder class="com.example.todolist.common.log.RequestPatternLayoutEncoder">
            <charset>utf-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %reqId [%thread] %-5level %logger{36} -%msg%n</Pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="INFO_FILE"/>
    </root>
</configuration>